extends layout

block content
    .container
        .row
            .col-md-12
                h1= title
                p Welcome to #{title}
        .row
            .col-md-12
                form(name="search-form", method="post")
                    .input-group
                        input.form-control(type='text', name="user_id", value="#{user_id}" placeholder='Type your user id')
                        span.input-group-btn
                            button.btn.btn-info(type='submit') Search
        .row
            .col-md-12
                .margin
                    if status == 200
                        .border-bottom
                            dl.dl-horizontal
                                dt Name
                                dd #{result.first_name} #{result.last_name}
                                dt Email
                                dd #{result.email}
                                dt Phone
                                dd #{result.phone_number}
                                dt Status
                                dd #{result.status}
                                dt Invite Code
                                dd #{result.invite_code}
                    else if status == 400 || status == 500
                        p.bg-danger.padding #{result.message}
                    else
                        p.bg-info.padding #{result.message}